/* Css de cards */

.card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    min-height: 500px;
    overflow: hidden;
  }

  .card img {
    min-height: 300px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .card-content {
    max-width: 300px;
    min-height: 228px;
    padding: 20px;
    text-align: center;
    border: 2px solid #bbb8b8;

  }

  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5e3a;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  .card-button:hover {
    background-color: #e2331a;
  }


/* Fim do Css de cards */
